<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Us</title>
</head>
<body>
    <h1>
        About Us
    </h1>
    <p>
        Trusted Electronics is dedicated to providing reliable and high-quality electronics for both everyday use and
        professional needs. Our focus is on delivering innovative products that people can trust, backed by excellent
        customer service. We are committed to helping our customers stay connected and succeed in an ever-changing tech
        world. At Trusted Electronics, quality and trust come first in everything we do.
    </p>

    <a th:href="@{/mainscreen}" class="btn btn-primary btn-sm">Return to Main Page</a>

</body>
</html>